# Rust build artifacts
/target/

# Cargo package files
**/*.rs.bk

# SpecKit
.specify/
.specify/**


# MacOS-specific files
.DS_Store

# IDE/editor settings
.idea/
.vscode/
*.swp

.venv/
*.old/

.venv-test
/comments/
/specs/
