# Rust build artifacts
/target/

# Cargo package files
**/*.rs.bk

# SpecKit
.specify/
.specify/**


# MacOS-specific files
.DS_Store

# IDE/editor settings
.idea/
.vscode/
*.swp

.venv/
*.old/

.venv-test
/comments/
/specs/**
!/specs/001-spec-impl-annotations/
!/specs/001-spec-impl-annotations/examples/
!/specs/001-spec-impl-annotations/examples/manifest.local.json
!/specs/001-spec-impl-annotations/examples/manifest.pr.json
!/specs/001-spec-impl-annotations/examples/manifest.broken.json
